/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main  */

* {
    font-size: 62.5%;
}

body {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-image: url("/images/bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom center;
}

#container {
    max-width: 1200px;
    margin: 0px auto;
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

button {
    background-color: white;
    color: black;
    padding: .5rem;
    border: 1px solid black;
    font-size: 1.25rem;
    font-family: 'VT323', monospace;
}

button:active {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Header/Footer/Navigation */

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

#header-txt {
    padding: 20px 0px 20px 20px;
}

#nav-top {
    width: 40%;
    height: 1rem;
    font-size: 1rem;
    text-align: right;
    margin: 0 3rem 0 0rem;
}

#nav-top a {
    border: 1px solid black;
    padding: .5rem;
    margin-left: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
}

#nav-top a:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 3rem;
    margin-right: 0px;
    overflow: hidden;
}

footer button {
    margin: 2rem;
}

footer a {
    color: white;
    padding: 0px .2rem;
}

footer a:hover {
    color: black;
    background-color: white;
}

#links {
    line-height: 2rem;
}

/* Content  */

#about {
    width: 60%;
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 50px;
}

#about-img {
    flex: 40%;
    margin: auto;
    padding-right: 1rem;
}

#about-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

#about-txt {
    flex: 50%;
    margin: auto;
    font-size: 1.25rem;
    padding-left: 1rem;
}

#about-txt p {
    line-height: 1.75rem;
}

#about button {
    margin: 2.5rem 0 2.5rem 0;
}

#gallery {
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
}

.gallery-img {
    width: 30%;
    max-width: 450px;
    min-width: 350px;
    padding: .5rem;
    text-align: center;
}

.gallery-img img {
    width: 98%;
    height: auto;
    border: solid .25rem black;
    margin-left: auto;
    margin-right: auto;
}

.gallery-img img:hover {
    border: solid .25rem white;
}

.gallery-txt {
    background-color: black;
    width: 98%;
    padding: .75rem 0;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery-txt a {
    font-size: 1.2rem;
    color: white;
}

.gallery-txt a:hover {
    text-decoration: none;
}

/* TABLET SIZE */

/* change l/r margins of bio, img size */

@media screen and (max-width: 800px) {
    #container {
        max-width: 750px;
    }

    header {
        background-color: transparent;
        padding: 2rem 0rem;
    }
    
    #header-txt {
        padding: 0px;
        text-align: center;
        width: 50%;
        margin: 1rem auto;
    }
    
    #nav-top {
        width: 100%;
        height: 2rem;
        margin: 0 auto 2rem auto;
        padding-bottom: 1rem;
        text-align: center;
    }

    #nav-top a {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }

    #about {
        width: 80%;
    }

    #about-img {
        padding-right: .5rem;
    }

    #about-txt {
        margin-top: 1.5rem;
        padding-left: .5rem;
    }

    #about-txt p {
        line-height: 1.5rem;
    }

    #about button {
        margin: 1rem 0 1rem 0;
    }

    .gallery-img {
        width: 45%;
        padding: .25rem;
    }
}

/* CELL SIZE */

/* change t/b margins, img size, width of content */

@media screen and (max-width: 500px) {

    #container {
        max-width: 500px;
    }

    h1 {
        font-family: 'Courier Prime', monospace;
        font-weight: 700;
        font-size: 3rem;
    }

    #header-txt {
        padding: 20px 0px 20px 0px;
        margin: auto;
        width: 90%;
    }
    
    #nav-top {
        margin: 0 auto 3rem auto;
    }
    
    #nav-top a {
        width: 75%;
        margin: auto;
    }

    #about {
        width: 90%;
        margin: 1rem auto;
    }

    #about-img {
        flex: 100%;
        margin: auto;
        padding-top: 1rem;
        padding-right: 0;
    }
    
    #about-img img {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        border: 2px solid white;
    }
    
    #about-txt {
        flex: 100%;
        margin: 1rem auto;
        font-size: 1.25rem;
        padding-left: 0rem;
    }

    .gallery-img {
        width: 100%;
        padding: .5rem .25rem;
        max-width: 350px;
    }
}